*.png
*.pyc
*.pickle
*.swp
*__pycache__
*.egg-info
.DS_Store
.ipynb_checkpoints
test-results-*.xml
.coverage*
tmp*
.shell_session.json
*parser.out
*parsetab.py
docs/source/modules/
docs/source/generated/
docs/build/*
env/*
dist/
